html{
  font-size: 20px;
}
body{
  background-color: black;
  color: whitesmoke;
}
mark{
  background-color: whitesmoke;
}
h3{
  text-align: center;
  text-decoration: underline;
  
}
#c1{
  background-color: rgb(22, 51, 8);
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}
.p-head{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-background{
  background-image: url(Image/10\ -\ iriH1tb.jpg); 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-size: 100% 100%;
}
